
@import 'inputs-colors';
@import '../public/partners';

.collection .collection-item.active {
  background-color: #616161;
  color: #fff;
}

.input-field input[type=text]:focus+label, .input-field label {
  color: #000;
}

.form-admin *{
  color: #000;
}

