html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 12px;
  margin-bottom: 150px;
}

#lang-switcher {
  position: fixed;
  top: 10%;
  z-index: 999;
  right: 0;
  width: 50px;
  height: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

#lang-switcher a {
  color: inherit;
}

#lang-switcher a:hover {
  color: black;
}

html {
  font-family: 'Open Sans', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: white;
}

nav ul a {
  font-weight: 300;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  line-height: 0;
  color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

.icon-block {
  padding: 0 15px;
}

#submenu {
  position: absolute;
  width: 100%;
  display: none;
}

#submenu nav {
  box-shadow: 0 2px 5px -5px rgba(0, 0, 0, 0.16), 0 2px 10px -10px rgba(0, 0, 0, 0.12);
}

.uppercase {
  text-transform: uppercase;
}

.no-mar-bot {
  margin-bottom: 0;
}

.wrapper {
  width: 100%;
  height: auto;
  background-color: #fff;
}

p {
  line-height: 1.2rem;
}

h5 {
  font-size: 1.4em;
}

#model-wrapper {
  position: relative;
}

#model-wrapper #model-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.partner-item {
  border: 1px solid #ddd;
  width: 170px;
  height: 100px;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50%;
}

#partners-view .card .card-title {
  font-size: 1.3em;
}

#partners-view .card .card-title i {
  font-size: 0.8em;
}

#partners-view .card .partner-item {
  margin: auto;
  border: none;
}

footer.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #333;
  margin-top: 0px;
}

@media print {
  .no-print {
    display: none;
  }

  * {
    color: #000000;
  }

  #manifest-text {
    width: 100%;
  }

@page {
    margin: 1cm;
}
}

#CookieAlert {
  padding: 3px !important;
  font-size: 10px !important;
}

#CookieAlert img {
  top: 3px !important;
  height: 70% !important;
}