.uppercase {
  text-transform: uppercase;
}

.no-mar-bot {
  margin-bottom: 0;
}

.wrapper {
  width: 100%;
  height: auto;
  background-color: #fff;
}

p {
  line-height: 1.2rem;
}

h5 {
  font-size: 1.4em
}