html {
  position: relative;
  min-height: 100%;
}
body {
  font-size: 12px;
  margin-bottom: $footer-height;
}

#lang-switcher {
  position: fixed;
  top: 10%;
  z-index: 999;
  right: 0;
  width: 50px;
  height: auto;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  color: white;

  a {
    color: inherit;
    &:hover {
      color: black;
    }
  }

}