html {
  font-family: 'Open Sans', sans-serif;
}
nav ul a,
nav .brand-logo {
  color: white;
}
nav ul a {
  font-weight: 300;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  //min-height: 600px;
  line-height: 0;
  //height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

.icon-block {
  padding: 0 15px;
}


