.partner-item {
  border: 1px solid #ddd;
  width: 170px;
  height: 100px;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50%;
}

#partners-view {
  .card {
    .card-title {
      font-size: 1.3em;
      i {
        font-size: 0.8em;
      }
    }

    .partner-item {
      margin: auto;
      border: none;
    }
  }

}